<div>
    <label ng-if="component.label" for="{{ component.key }}" class="component-heading label_dynamic">{{ component.label }}</label>
    <div ng-if="!isEditMode">
        <div class="btn-group" role="group" id="{{ component.key }}">
            <img ng-src="{{$root.PATHS.SpecialComponentsImageUrl}}engagements_big.png" class="img-responsive" alt="" />
        </div>
    </div>
    <div ng-if="isEditMode" style="position: relative;">
        <div ng-show="progress" class="loading_bg_absolute">
            <div class="loading_container"><img ng-src="{{loadingImagePath}}" alt="" /></div>
        </div>
    
        <div id="dvEngagementsChart" class="dvEngagementsChart_height" ></div> <!--style="width: 100%; height: 265px;"-->

        
    </div>
</div>
