<div >
    From Date 
    <p class="input-group">
       
        <input type="text" class="form-control"  ng-value="defaultdate" show-button-bar="false" uib-datepicker-popup="{{format}}" ng-change="ExtendSubmissionData()" ng-model="selectedfromdate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>

</div>
