<div class="reportbox mrgbottom20" >
    <div style="min-height:40px;">
        <div class="floatleft" ng-show="submission.data.ReportConfiguration.HeaderConfiguration.ShowSessionDate">
            <tf-session-date submissiondata='submission.data' component="SessionDateComponent"></tf-session-date>
        </div>
        <div class="floatright mrgleft10" ng-show="submission.data.ReportConfiguration.HeaderConfiguration.ShowSessionLength">
            <tf-session-length submissiondata='submission.data' component="SessionLengthComponent"></tf-session-length>
        </div>
    </div>

    <div class="mrgtop10" style="min-height:40px;">

        <div class="floatleft" ng-show="submission.data.ReportConfiguration.HeaderConfiguration.ShowNumberOfCalls">
            <span style="float:left; margin-right:8px;">Number of Calls:</span>
            <select class="form-control" style="width: 190px;" ng-model="submission.data.NumberOfCalls" ng-disabled="submission.data.isSubmitted || ComponentDisabledView">
                <option value="NA">N/A</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>

            </select>

        </div>



        <div class="floatright mrgleft10" ng-show="submission.data.ReportConfiguration.HeaderConfiguration.ShowVisualAidUse">
            <span style="float:left; margin-right:8px;">Calls with Visual Aid Use:</span>
            <select class="form-control" style="width: 190px;" ng-model="submission.data.VisualAidUse" ng-disabled="submission.data.isSubmitted || ComponentDisabledView">
                <option value="NA">N/A</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>

            </select>
        </div>

    </div>
</div>