<div>
    <div id="divCommentsHistory" class="dasboardreport_grid performance_height">
        <div class="ovr_hidden table-responsive mrgbottom15" ng-if="SavedCommentsData.length > 0">
            <table class="table">
                <tr>
                    <th style="width: 40%">{{TFMessages.Common_ManagerCommensAndFeedbacks}}</th>
                    <th style="width: 15%">{{TFMessages.Common_SubmissionDate}}</th>
                    <th style="width: 15%">{{TFMessages.Common_SubmittedBy}} </th>
                    <th ng-if="isviewreport == undefined ? false : isviewreport" style="width: 20%">{{TFMessages.Common_View_Report}}</th>
                    <th style="width: 10%">{{TFMessages.Common_Delete}}</th>
                </tr>
                <tr ng-repeat="item in SavedCommentsData">
                    <td>
                        {{item.Comments}}
                    </td>
                    <td>
                        {{item.CommentSubmitDate}}
                    </td>
                    <td>
                        {{item.CommentSubmittedBy}}
                    </td>
                    <td ng-if="isviewreport == undefined ? false : isviewreport">
                        <a href="#" ng-click="openReport(item); $event.preventDefault();">{{TFMessages.Common_View_Report}}</a>
                    </td>
                    <td>
                        <img ng-src="{{DeleteIcon}}" ng-if="!ComponentDisabledView" ng-click="submissiondata.isSubmitted || DeleteReviewComment(item);" alt="" class="delete-button-style" ng-style="{'cursor': !submissiondata.isSubmitted && !ComponentDisabledView ?'pointer':'default'};" />
                    </td>
                </tr>
            </table>
        </div>
        <div ng-if="SavedCommentsData.length == 0" class="txt_center border" style="background-color:#d8dcdd; padding:10px;">
            No Performance review to show.
        </div>
    </div>

</div>