
<div>
    <div class="floatleft"><label ng-if="component.label" for="{{ component.key }}" class="component-heading label_dynamic">{{ component.label }}</label></div>
    <div class="ovr_hidden">
        <div class="floatright">
            <a href="#" ng-if="!isPDFExport && component.IsCommentHistoryVisible && isEditMode" ng-click="ShowCommentsHistory()">{{TFMessages.Comments_History}}</a>
            <span style="color:#3283bb;" ng-if="!isPDFExport && component.IsCommentHistoryVisible && !isEditMode">{{TFMessages.Comments_History}}</span>
            <span style="color:#3283bb;" ng-if="isPDFExport && component.IsCommentHistoryVisible">{{TFMessages.Comments_History}}</span>
        </div>
    </div>


    <div class="mrgtop5">
        <textarea id="{{UNIQ_ID}}" ng-model="Model.ckData" rows="5" ng-attr-placeholder="{{TFMessages.Common_Placeholder}}" ng-disabled="submissiondata.isSubmitted || ComponentDisabledView" class="form-control"></textarea>
        <!--<span ng-if="isPDFExport" ng-bind-html="trustAsHtml(ckData)"></span>-->
    </div>


    <div class="modal fade" id="bootCommentsHistory">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <img ng-src="{{CancelIcon}}" data-dismiss="modal" class="close" />
                    <h4 class="modal-title">{{TFMessages.Common_ReviewJournal}}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <tf-performance-review-journal-grid submissiondata="submissiondata" component="component" isviewreport="false"></tf-performance-review-journal-grid>
                    </div>
                    <div class="mrgtop10 mrgbottom10 txt_center">
                        <input type="button" ng-click="CloseCommentsPopup()" class="btn btn-orange" value="{{TFMessages.Common_Cancel }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

